h1, h2, h3, h4, h5, h6 {

    margin-top: 1em;
    font-weight: 600;
    color: #4A5568 !important
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {

    font-weight: 300;
}

h5 {
    opacity: .5;
    font-weight: 300;
    text-decoration: underline;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 40px;
    background-color: #ECF4FD;
    color: #3793EF;
    font-size: .8em;
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

ul > li > p, ul > li {
    /*margin-left: 20px;*/
    height: min-content;
    font-weight: 500 !important;
    margin-top: 0;
    text-decoration: underline;
}

li > ul {
    padding: 0 !important;
    margin: 0;
    border: none;
    display: none;
}


blockquote {

    padding: 10px
}

blockquote > p {
    padding-bottom: 15px;
    width: 90%;
}

ol > li {
    margin-left: 20px;
    width: 90%;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
}

hr {
    opacity: .25;
}

p > a {
    color: #3793EF;
    text-decoration: underline;
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.5em;
    color: #4A5568;
    border-left: .25em solid #E2E8F0;
}

pre[class*="language-"] {
    width: 97%;
    border: 1px solid #E2E8F0;
    border-radius: 2px;
}

code[class*="language-"],
pre[class*="language-"] {
    font-family: "JetBrains Mono", Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #f5f7ff;
    color: #5e6687;
}

pre > code[class*="language-"] {
    font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #dfe2f1;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #dfe2f1;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #898ea4;
}

.token.punctuation {
    color: #5e6687;
}

.token.namespace {
    opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
    color: #c76b29;
}

.token.property {
    color: #c08b30;
}

.token.tag {
    color: #3d8fd1;
}

.token.string {
    color: #22a2c9;
}

.token.selector {
    color: #6679cc;
}

.token.attr-name {
    color: #c76b29;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #22a2c9;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
    color: #ac9739;
}

.token.statement,
.token.regex,
.token.atrule {
    color: #22a2c9;
}

.token.placeholder,
.token.variable {
    color: #3d8fd1;
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.important {
    color: #c94922;
}

.token.entity {
    cursor: help;
}

pre > code.highlight {
    outline: 0.4em solid #c94922;
    outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}



